body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Koyu arka plan */
    color: #ffffff; /* Yazı rengi */
}

header {
    background-color: #ff0000; /* Kırmızı */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #ffd700; /* Altın sarısı */
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.survey {
    background-color: #1c1c1c; /* Anket arka planı */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin: 5px 0;
}

button {
    background-color: #ff0000; /* Kırmızı */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000; /* Daha koyu kırmızı */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ff0000; /* Kırmızı */
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
